

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a id="home-link" class="brand" href="/">Ember-Touch</a>
    </div>
  </div>
</div>

<a href="https://github.com/emberjs-addons/sproutcore-touch"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

<div class="container-fluid">

  <div class="row-fluid">

      <div class="span3">

          <div class="well side-bar">
              <ul class="nav nav-list">
                <li class="nav-header">Docs</li>
                {{view App.NavItemView linkState="emberTouch" content="Ember Touch"}}
                {{view App.NavItemView linkState="objectResponsabilities" content="Object Responsabilities"}}
                {{view App.NavItemView linkState="handlingEvents" content="Handling Events"}}
                <li class="nav-header">Examples of Gestures</li>
                {{view App.NavItemView linkState="panAndPinch" content="Pan & Pinch"}}
                {{view App.NavItemView linkState="tapAndTouchHold" content="Tap & TouchHold"}}
                {{view App.NavItemView linkState="swipe" content="Swipe"}}
                <li class="nav-header">Examples of Coordination</li>
                {{view App.NavItemView linkState="simultaneously" content="Simultaneously"}}
                {{view App.NavItemView linkState="applicationGestureManager" content="Application Gesture Manager"}}
                {{view App.NavItemView linkState="isEnabled" content="Gesture IsEnabled"}} 
                {{view App.NavItemView linkState="gestureDelegate" content="Gesture Delegate"}} 
                {{view App.NavItemView linkState="gestureDelegateRules" content="Gesture Delegate Rules"}} 
                <li class="nav-header">API</li>
                <li><a href="/api/index.html">YuiDoc</a></li>
              </ul>
          </div>

      </div>

    <div class="span9">
      {{outlet}}
    </div>
  </div>
</div>
